.grade-bar {
  rect {
    height: 6px;
  }

  .grade-bar__base {
    fill: #BCCBDD;
  }

  .grade-bar__divider {
    fill: #ff0000;
    width: 1px;
  }

  .grade-bar--passing {
    fill: black;
  }

  .grade-bar--current-passing {
    fill: #ff0000;
  }

  .grade-bar--current-non-passing {
    fill: $accent-b;
  }
}

.arrow {
  margin: 0 !important;
}

#minimum-grade-tooltip {
  .arrow::after {
    border-bottom-color: #212121 !important;
  }
}

#passing-grade-tooltip {
  background: #212121 !important;

  .arrow::after {
    border-top-color: #212121 !important;
  }
}

#non-passing-grade-tooltip {
  background: #ff0000;

  .arrow::after {
    border-top-color: #ff0000;
  }
}
